<div class="container">
  <h1>Tweeeeeet!</h1>
  <p>Enter a tweet!</p>
  <form  id="tweet" action="/tweet" method="post">
    <input type="text" name="tweet" required>
    <input type="submit" value="tweet">
  </form>
  <div class="tweet_result" style="display: none;"></div>
</div>
